@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: rgb(36, 36, 36);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

div,
html,
p {
  scrollbar-color: rgb(133 137 139) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(133 137 139);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(133 137 139);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
